$color-light: #fff;

// Here you can add other styles
.custom-nav {
  margin-right: 30px;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4 {
  margin: 0;
}

.card-header a {
  text-decoration: none;
}

.link-light {
  color: $color-light;
}

.header-select {
  width: 10%;
  margin-right: 20px;
}
